<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>de.sportschulApp.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/sportschulapp/LoginService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>de.sportschulApp.server.AdminServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/sportschulapp/AdminService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TrainerServlet</servlet-name>
    <servlet-class>de.sportschulApp.server.TrainerServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TrainerServlet</servlet-name>
    <url-pattern>/sportschulapp/TrainerService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SportschulApp.html</welcome-file>
  </welcome-file-list>

</web-app>
